@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans');
@font-face {
    font-family: 'denseregular';
    src: url('./fonts/dense-webfont.woff2') format('woff2'),
         url('./fonts/dense-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'simplificasimplifica';
    src: url('./fonts/simplifica_typeface-webfont.woff2') format('woff2'),
         url('./fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #283138;
}

p {
  color: black;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-stretch: extra-expanded;
  font-weight: lighter;
}

h1 h2 h3 h4 h5 h6 {
   font-family: dense;
   font-stretch: expanded;
   font-style: italic;
   text-align: center;
 }
#userInputError {
  background-color: #112330;
  align-items: center;
}
#customBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 100;
  position: fixed;
  top: 0;
  width: 100%;
}
 #title {
   font-size: 90px;
   font-family: simplificasimplifica;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   color: #FFFEFD;
   font-weight: lighter;
 }

.mb-3 {
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #84faff;
  background-color: #6C757D;
}

#searchSubmit {
  border-style: solid;
  border-width: thin;
  border-radius: 15px;
  border-color: #aaffbf;
}

.card-body {
  border-style: solid;
  border-radius: 15px;
}

#output{
  align-items: center;
}
