@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans');

/* html {
  background-color: #141214;
} */

p {
  color: black;
  /* color: #FFFFFF; */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-stretch: extra-expanded;
  font-weight: lighter;
}

h1 h2 h3 h4 h5 h6 {
   color: rgb(260, 245, 243);
   font-family: 'Major Mono Display', monospace;
   font-size: 70px;
   font-stretch: expanded;
   font-style: italic;
   text-align: center;
 }
.card {
  width: 18rem;
}
#customBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 100;
  position: fixed;
  top: 0;
  width: 100%;
}
 #title {
   padding-top: 15px;
 }

.card-body {
  border-style: solid;
}

.leftPane {

}

#output {
  overflow: scroll;
}
